---

// import neccesary file
import { sanityClient, urlFor } from "../../lib/sanityClient";
import type { Project } from "../../types/sanity";

//initiate query
const projectExpQuery = `*[_type == "project"]`;

//fetching queries
const projectList: Project[] = await sanityClient.fetch(projectExpQuery);

---

<!-- Portfolio Section -->
  <section id="portfolio" class="portfolio section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Portfolio</h2>
      <p>Portofolio is the result and prove what i've learn from study and training.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <!-- <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-product">Product</li>
          <li data-filter=".filter-branding">Branding</li>
          <li data-filter=".filter-books">Books</li>
        </ul>--><!-- End Portfolio Filters -->

        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

          {projectList.map((projects) => (
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <div class="portfolio-content h-100">
              <img src={urlFor(projects.mainImage).url()} class="img-fluid" alt=""/>
              <div class="portfolio-info">
                <h4>{projects.title}</h4>
                <p>{projects.imageText}</p>
                <a href={urlFor(projects.mainImage).url()} title={projects.imageText} data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href={`/projects/${projects.slug.current}`} title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          ))} <!-- End Portfolio Item -->

        </div><!-- End Portfolio Container -->

      </div>

    </div>

  </section><!-- /Portfolio Section -->